body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
  }
  
  h1, h2 {
    color: #06444d;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
    background-color: white;
  }
  
  table, th, td {
    border: 1px solid #ccc;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
  }
  
  button {
    padding: 6px 12px;
    margin-top: 5px;
    background-color: #06444d;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #046377;
  }
  
  